<div style="padding: 1em">
  <mat-list>
    <mat-card *ngFor="let group of data">
      <mat-chip (click)="onGroupChipClick(group)" [style.background]="group.color">{{group.name}}</mat-chip>
      <mat-card-content>
        <mat-checkbox *ngFor="let item of group.items" [checked]="item.isDone">{{item.title}}</mat-checkbox>
      </mat-card-content>
    </mat-card>
  </mat-list>
  <button (click)="onAddButtonClick()" mat-fab color="primary" style="position: fixed; bottom: 1em; right: 1em">
    <mat-icon>add</mat-icon>
  </button>
</div>
