<div style="padding: 1em">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <div class="list-item-container">
        <span>{{'index._view.setting.language'|translate}}</span>
        <button mat-icon-button [matMenuTriggerFor]="locale">
          <mat-icon>translate</mat-icon>
        </button>
        <mat-menu #locale="matMenu">
          <button mat-menu-item (click)="onLocaleItemClick('en')">English</button>
          <button mat-menu-item (click)="onLocaleItemClick('zh-Hans')">简体中文</button>
        </mat-menu>
      </div>
    </mat-list-item>
    <mat-divider />
    <mat-list-item role="listitem">
      <div class="list-item-container">
        <span>{{'index._view.setting.theme'|translate}}</span>
        <button mat-icon-button [matMenuTriggerFor]="theme">
          <mat-icon>palette</mat-icon>
        </button>
        <mat-menu #theme="matMenu">
          <button mat-menu-item (click)="onThemeItemClick('deeppurple-amber.css')">Deep Purple & Amber</button>
          <button mat-menu-item (click)="onThemeItemClick('indigo-pink.css')">Indigo & Pink</button>
          <button mat-menu-item (click)="onThemeItemClick('pink-bluegrey.css')">Pink & Blue-grey</button>
          <button mat-menu-item (click)="onThemeItemClick('purple-green.css')">Purple & Green</button>
        </mat-menu>
      </div>
    </mat-list-item>
    <mat-divider />
  </mat-list>
</div>
