@import 'ng-devui/styles-var/devui-var.scss';

:host {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  column-gap: 1em;
}

.list-item {
  &:hover {
    cursor: pointer;
    background: $devui-list-item-hover-bg;
  }

  &.current {
    background: $devui-list-item-active-bg;
  }

  .text-icon {
    --devui-icon-font-size: 1em;
    margin-right: 0.5em;
  }
}
